<div class="overflow-hidden px-8 pt-14 pb-10 h-full bg-white max-md:px-5">
  <div class="flex gap-5 max-md:flex-col">
    <!-- Product Image and Stock Progress -->
    <div class="flex flex-col w-6/12 max-md:w-full">
      <img
        loading="lazy"
        [src]="data.src"
        alt="{{data.title}} product image"
        class="object-contain self-stretch w-full aspect-[1.09] max-md:max-w-full bg-neutral-100"
      />
      <div class="mt-4 text-xs text-primary-500" role="status" aria-live="polite">{{data.itemsLeft}} items left</div>

      <div class="flex overflow-hidden flex-col items-start mt-1 w-full bg-zinc-300 rounded-[30px]">
        <div
          class="flex shrink-0 h-2 bg-primary-500 rounded-[30px]"
          [style.width.px]="data.progressWidth"
        ></div>
      </div>
    </div>

    <!-- Product Details and Add to Cart Form -->
    <div class="flex flex-col w-6/12 max-md:w-full">
      <form class="flex flex-col w-full text-xl max-md:mt-10 max-md:max-w-full" (ngSubmit)="onSubmit()">
        <h1 class="text-base font-bold">{{data.title}}</h1>
        <p class="mt-2.5 text-xs">Details about the product...</p>
        <div class="mt-2 text-primary-500">Ksh.{{data.price}}</div>

        <label for="notes" class="sr-only">Add notes for your order</label>
        <textarea
          id="notes"
          [(ngModel)]="productState.notes"
          name="notes"
          class="self-stretch px-3 pt-2 pb-1 mt-5 rounded-xl bg-neutral-100 text-stone-400"
          placeholder="Add notes"
        ></textarea>

        <!-- Quantity Selector -->
        <div class="flex overflow-hidden flex-wrap gap-5 justify-between items-start mt-5">
          <button type="button" (click)="decrementQuantity()" class="px-2.5 pb-7 mt-1.5 w-6 h-6 bg-white rounded-[50px]">-</button>
          <div class="text-slate-700">{{productState.quantity}}</div>
          <button type="button" (click)="incrementQuantity()" class="px-2.5 pb-2 mt-1.5 bg-white h-[31px] rounded-[50px]">+</button>
        </div>

        <!-- Add to Cart Button -->
        <button type="submit" class="overflow-hidden px-16 pt-1 pb-1 mt-5 font-bold text-center text-white rounded-xl bg-primary-900">
          Add to Cart
        </button>
      </form>
    </div>
  </div>
</div>
