<div class="loading-overlay" *ngIf="isLoading" [class.active]="isLoading">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-spin-fade-rotating">
    <div class="progress-bar">
      <div class="progress" [style.width]="progressWidth"></div> <!-- Dynamically set the width -->
    </div>
    Loading...
  </ngx-spinner>
</div>
<div class="relative h-screen w-screen bg-primary-950 overflow-hidden">
  <!-- Background Section -->
  <section class="absolute top-0 left-0 w-full h-full z-0">
    <div class="leaf">
      <div class="absolute w-full h-full">
        <img class="animate-fall absolute w-17 h-17" style="left: 2%" src="/assets/figma-photos/honey.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 85%" src="/assets/figma-photos/Autumn-Fall-Leaves-Clip-Art-PNG.png">
        <img class="animate-fall absolute w-17 h-17" style="left: 75%" src="/assets/figma-photos/oranges.png">
        <img class="animate-fall absolute w-17 h-17" style="left: 40%" src="/assets/figma-photos/cake.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 30%" src="/assets/figma-photos/Fall-Autumn-Leaves-Transparent-PNG.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 15%" src="/assets/figma-photos/Green-Leaves-PNG-File.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 90%" src="/assets/figma-photos/Green-Leaves-PNG-File.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 5%" src="/assets/figma-photos/Realistic-Autumn-Fall-Leaves-PNG.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 10%" src="/assets/figma-photos/Fall-Autumn-Leaves-Transparent-PNG.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 25%" src="/assets/figma-photos/Autumn-Fall-Leaves-Clip-Art-PNG.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 35%" src="/assets/figma-photos/Transparent-Autumn-Leaves-Falling-PNG.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 45%" src="/assets/figma-photos/Fall-Autumn-Leaves-Transparent-PNG.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 55%" src="/assets/figma-photos/Autumn-Fall-Leaves-Clip-Art-PNG.png">
        <img class="animate-fall absolute w-16 h-16" style="left: 60" src="/assets/figma-photos/Green-Leaves-PNG-File.png">
      </div>
    </div>
  </section>

  <!-- Form Section -->
  <div class="relative z-10 flex items-center justify-center h-full">
    <div class="w-full max-w-md p-6 bg-gray-50 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_gray] bg-transparent backdrop-blur-2xl">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-primary-200 dark:text-white md:text-2xl">
        Create an account
      </h1>
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{msg}}</p>
      </div>
      <div class="space-y-4">
        <div>
          <label for="firstname" class="block mb-2 text-sm font-medium text-primary-300 dark:text-white">FirstName</label>
          <input [(ngModel)]="registerRequest.firstname"  type="text" id="firstname" name="firstname" placeholder="First Name" required class="shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_gray] w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-500 rounded-lg focus:ring-primary-500 focus:border-primary-500 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        </div>
        <div>
          <label for="lastname" class="block mb-2 text-sm font-medium text-primary-300 dark:text-white">LastName</label>
          <input [(ngModel)]="registerRequest.lastname " type="text" id="lastname" name="lastname" placeholder="Last Name" required class="shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_gray] w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-500 rounded-lg focus:ring-primary-500 focus:border-primary-500 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        </div>
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-primary-300 dark:text-white">Your email</label>
          <input [(ngModel)]="registerRequest.email" type="email" id="email" name="email" placeholder="example@email.com" required class="shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_gray] w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-500 rounded-lg focus:ring-primary-500 focus:border-primary-500 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-primary-300 dark:text-white">Password</label>
          <input [(ngModel)]="registerRequest.password" type="password" id="password"  name="password" placeholder="••••••••" required class="shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_gray] w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-500 rounded-lg focus:ring-primary-500 focus:border-primary-500 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        </div>
        <div>
          <label for="role" class="block mb-2 text-sm font-medium text-primary-300 dark:text-white">Role</label>
          <input [(ngModel)]="registerRequest.role" type="text" id="role" name="role" placeholder="ADMIN" required class="shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_gray] w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-500 rounded-lg focus:ring-primary-500 focus:border-primary-500 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        </div>
        
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600">
          </div>
          <div class="ml-3 text-sm">
            <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a class="font-medium text-primary-300 hover:underline dark:text-primary-500" href="#">Terms and Conditions</a></label>
          </div>
        </div>
        <button  (click)="register()" type="submit" class="w-full px-5 py-2.5 text-sm font-medium text-white bg-primary-600 rounded-lg focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Already have an account? <button (click)="login()" class="font-medium text-primary-300 hover:underline dark:text-primary-500">Login here</button>
        </p>
      </div>
    </div>
  </div>
</div>
