<div class="loading-overlay" *ngIf="isLoading" [class.active]="isLoading">
  <app-spinner></app-spinner>
</div>
<div class="relative h-screen w-screen bg-primary-950 overflow-hidden">
     <!-- Background Section -->
    <section class="absolute top-0 left-0 w-full h-full z-0">
      <div class="leaf">
        <div class="absolute w-full h-full">
     
          <img class="animate-fall absolute w-16 h-16" style="left: 85%" src="/assets/figma-photos/Autumn-Fall-Leaves-Clip-Art-PNG.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 30%" src="/assets/figma-photos/Fall-Autumn-Leaves-Transparent-PNG.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 15%" src="/assets/figma-photos/Green-Leaves-PNG-File.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 90%" src="/assets/figma-photos/Green-Leaves-PNG-File.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 5%" src="/assets/figma-photos/Realistic-Autumn-Fall-Leaves-PNG.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 10%" src="/assets/figma-photos/Fall-Autumn-Leaves-Transparent-PNG.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 25%" src="/assets/figma-photos/Autumn-Fall-Leaves-Clip-Art-PNG.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 35%" src="/assets/figma-photos/Transparent-Autumn-Leaves-Falling-PNG.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 45%" src="/assets/figma-photos/Fall-Autumn-Leaves-Transparent-PNG.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 55%" src="/assets/figma-photos/Autumn-Fall-Leaves-Clip-Art-PNG.png">
          <img class="animate-fall absolute w-16 h-16" style="left: 60%" src="/assets/figma-photos/Green-Leaves-PNG-File.png">

        </div>
      </div>
    </section>
  
    <!-- Form Section -->
    <div class="relative z-10 flex items-center justify-center h-full  ">
      <div class="w-full max-w-md p-6 bg-gray-50 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_gray] bg-transparent backdrop-blur-xl ">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-primary-200 dark:text-white md:text-2xl">
          Sign in to your account
        </h1>
        <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
          <p *ngFor="let msg of errorMsg">{{msg}}</p>
        </div>
        <div class="space-y-4">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-primary-300 dark:text-white">Your email</label>
            <input [(ngModel)]="authRequest.email" class="form-control" type="email" id="email" placeholder="example@email.com" required class="shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_gray] w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-500 rounded-lg focus:ring-primary-500 focus:border-primary-500 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-primary-300 dark:text-white">Password</label>
            <input [(ngModel)]="authRequest.password" type="password" id="password" placeholder="••••••••" required class="shadow-[inset_6px_6px_6px_#cbced1,inset_-6px_-6px_6px_gray] w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-500 rounded-lg focus:ring-primary-500 focus:border-primary-500 hover:scale-105 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          </div>
          <button (click)="login()" type="button" class="btn1 w-full px-5 py-2.5 text-sm font-medium text-white bg-primary-600 rounded-lg focus:ring-1 focus:outline-none focus:ring-primary-300 dark:bg-primary-700 dark:focus:ring-primary-800">Sign in</button>
          <div>
            Don't have an account?&nbsp;
            <button (click)="register()" type="button" class="btn btn-link">
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  