<div class="flex flex-col overflow-y-auto scrollbar-hide h-full" >
    
    <div class="flex flex-row  w-full px-4 py-6  gap-5  ">
        <div *ngFor="let item of items; let i = index" class="w-full shadow-[0px_4px_4px_rgba(0,0,0,0.25)]  " >
            <img 
            class="itemn w-6 h-6 p-1 bg-primary-700 rounded-md"
            [src]="item.src"
            [ngStyle]="{ '--i': i + 1 }"
            alt=""/>
            <p class="text-xl text-[#8A5289]">{{item.name}}</p>
            <p class="">{{item.amount}}</p>
        </div>
      
    </div>
    <div class="w-full bg-primary-500 px-4 py-6 rounded-sm"></div>
    <div 
    class="grid gap-4 px-4 py-6"
    [ngClass]="{
      'grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6': isMiniSidebarOpen,
      'grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4': !isMiniSidebarOpen
    }"
  >
    <button 
      class="overflow-hidden px-2 py-2.5 bg-white rounded-xl max-w-[200px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)]"
      role="article"
      *ngFor="let list of lists"
      (click)="openDialog(list)"
    >
      <div class="flex flex-col pb-2.5 bg-gray-100 rounded-md">
        <img
          [src]="list.src"
          [alt]="list.title"
          class="object-contain w-full aspect-[1.15]"
          loading="lazy"
        />
      </div>
      <h2 class="z-10 -mt-1.5 text-base font-bold text-slate-700">
        {{ list.title }}
      </h2>
      <div class="mt-1 text-sm text-zinc-500">
        ksh.{{ list.price }}
      </div>
      <div class="mt-1 text-xs text-zinc-500">
        {{ list.itemsLeft }} items left
      </div>
      <div
        class="flex overflow-hidden flex-col items-start mt-1 w-full bg-zinc-300 rounded-[30px]"
        role="progressbar"
        [attr.aria-valuenow]="list.progressWidth"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="flex shrink-0 h-2 bg-primary-500 rounded-[30px]"
          [style.width.px]="list.progressWidth"
        ></div>
      </div>
      <button
        class="px-3 py-1 mt-2 m-auto w-full text-base font-bold text-center text-white rounded-xl bg-primary-900 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2"
        (click)="addToCart()"
        aria-label="Add to Cart"
      >
        Add to Cart
      </button>
    </button>
  </div>
  
  

</div>
