<div class="relative antialiased  h-screen w-screen dark:bg-gray-900 relative z-0">
        <app-header (toggleSidebar)="toggleSidebar()" (toggleMiniSidebar)="toggleMiniSidebar()" class="bg-white   dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50"></app-header>
    <div class=" w-100 ">
        <div class="flex w-screen absolute h-screen pt-16 left-0 right-0 z-0 ">
            <app-sidebar [isOpen]="isSidebarOpen" class=" absolute z-10 bg-primary-100 lg:flex hidden h-100 z-0 transition-transform -translate-x-full left-10  md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
         aria-label="Sidenav"
         id="drawer-navigation">
         </app-sidebar>
         <div class="relative flex flex-row w-full  h-full z-0 px-10 gap-4">
            <router-outlet class="w-100" ></router-outlet>
            <app-mini-sidebar  [isOpen1]="isMiniSidebarOpen" class=" dark:bg-gray-800 dark:border-gray-700"></app-mini-sidebar>
         
         </div>
        
    
    </div>
</div>




