<div class="w-full bg-primary-950 dark:bg-primary-800  px-4 sm:px-6  shadow-md border-b border-primary-800 flex items-center justify-between gap-4">
  
    <!-- Left: Sidebar Toggle + Logo -->
    <div class="flex items-center space-x-3">
      <button
        class="p-2 rounded-md hover:bg-primary-800 transition-colors"
        aria-label="Toggle Sidebar"
        (click)="onToggleSidebar()"
      >
        <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      <h1 class="text-xl font-bold text-primary-400 tracking-wide">AAI+ SHOP</h1>
    </div>
  
    <!-- Center: Search -->
    <div class="hidden md:flex items-center w-full max-w-md">
      <div class="flex items-center w-full bg-primary-900 border border-primary-700 rounded-md overflow-hidden h-8">
        <input
          type="search"
          placeholder="Search..."
          class="w-full px-4 py-2 text-sm text-white placeholder-gray-400 bg-transparent focus:outline-none focus:ring-2 focus:ring-primary-500 h-8"
        />
        <button class="p-2 text-gray-300 hover:bg-primary-800 transition" aria-label="Search">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35M11 18a7 7 0 100-14 7 7 0 000 14z" />
          </svg>
        </button>
      </div>
    </div>
  
    <!-- Right: Icons and Cart -->
    <div class="flex items-center gap-10 ">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/1cda1be9d1894bb2995be32d30ac20e2/44c2fa92d56e40abc94c02fb2ad6e7838ff2cd762012cec36b9b030d872e7a25"
        alt="Icon1"
        class="bg-primary-50 hover:bg-gray-200 p-1 rounded-md b w-6 h-6 object-contain"
      />
      <img
        src="https://cdn.builder.io/api/v1/image/assets/1cda1be9d1894bb2995be32d30ac20e2/81b045278c138ff12d7a84374aebaae41df525c16e678ebf6291c9b4f606e7c3"
        alt="Icon2"
        class="bg-primary-50 hover:bg-gray-200 p-1 rounded-md w-6 h-6 object-contain"
      />
      <button clickOutside (click)="onToggleMiniSidebar()" aria-label="Toggle Mini Sidebar" class="bg-primary-50 hover:bg-gray-200 p-1 rounded-md">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/1cda1be9d1894bb2995be32d30ac20e2/0355823216579687e5cc13ab06567b85b2cc3de893b631d485f95d70effb1243"
          alt="Cart"
          class="w-6 h-6 object-contain"
        />
      </button>
    </div>
  </div>
  